*
!scripts
!scripts/*
!scripts/lib/*
!scripts/lib/common/*
!scripts/lib/common/data/*
!scripts/lib/common/data/parser/*
!scripts/tests/*
!scripts/tests/common/*
!scripts/tests/common/data/*
!scripts/tests/common/data/parser/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE.md
!README.md
!rules
!rules/*
!rules/alignment/*
!rules/alignment/annotation/*
!rules/trimming/*
!rules/calling/*
!rules/qc/*
!.gitignore
!.gitattributes
!.gitmodules
!.editorconfig
!.travis.yml
!.test
!.test/*
!.test/swift/*
!.test/swift/fastq/*
!.test/swift/fastq/sample1/*
!.test/haloplex/*
!.test/haloplex/fastq/*
!.test/haloplex/fastq/sample1/*
!workflows
!workflows/*
!*.smk
